* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --hue: 223;
    --hue-center: 18;
    --hue-off: 3;
    --hue-on: 133;
    --bg: hsl(var(--hue), 90%, 85%);
    --fg: hsl(var(--hue), 90%, 10%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
    font-size: calc(56px + (112 - 56) * (100vw - 280px) / (3840 - 280));
  }
  body, input {
    font: 1em/1.5 sans-serif;
  }
  body {
    background-color: var(--bg);
  }

/*-------------------------*/
/* Switch button (party-mode) */
/*-------------------------*/
  .switch {
    --licked: 0;
    --opacity: calc(1 - var(--licked)* 0.6);
    --scale: calc(1 - var(--licked)* 0.4);
    --scale-y: calc(1 - var(--licked)* 0.2);
    --shadow-n: calc(-0.0625em*(1 - var(--licked)));
    --shadow-p: calc(0.0625em*(1 - var(--licked)));
    position: relative;
    display: block;
    width: fit-content;
}
  .switch, .switch__input {
    -webkit-tap-highlight-color: transparent;
  }
  .switch__input {
    cursor: pointer;
    display: block;
    outline: transparent;
    position: relative;
    width: 1.5em;
    height: 3em;
    transition: background-color var(--trans-dur), box-shadow calc(var(--trans-dur) / 2);
    -webkit-appearance: none;
    appearance: none;
}
  .switch__input:before, .switch__input:after {
    transition: box-shadow var(--trans-dur) var(--trans-timing), transform var(--trans-dur) var(--trans-timing);
  }
  .switch__input:before {
    background-color: hsl(var(--hue), 10%, 90%);
    border-radius: 0.0625em;
    box-shadow: -0.0625em 0 0 white inset, 0 0 0 hsl(var(--hue), 10%, 80%) inset;
    top: 50%;
    left: 0;
    width: calc(100% - 5px);
    height: 0.125em;
    transform: translateX(0%) rotate(-25deg);
    transform-origin: 0% 0;
}
  .switch__input:after {
    background-color: hsl(var(--hue-center), 70%, 30%);
    border-radius: 50%;
    box-shadow: 0.0625em -0.0625em 0 hsl(var(--hue-center), 70%, 20%) inset, 0 0 0 0.125em hsl(var(--hue-center), 70%, 30%) inset, -0.1875em 0.1875em 0 hsl(var(--hue-center), 70%, 40%) inset;
    top: 0.7em;
    right: 0;
    width: 0.75em;
    height: 0.75em;
}
  .switch__input:checked:before {
    transform: rotate(25deg) translateX(3px);
}
  .switch__input:checked:after {
    transform: translateY(1.1em);
}
  .switch__input:focus-visible {
    box-shadow: 0 0 0 0.0625em hsl(var(--hue), 90%, 70%) inset, 0 0 0.125em 0.125em hsl(var(--hue), 90%, 50%);
  }
  .switch__input:before, 
  .switch__input:after {
    content: "";
    display: block;
    position: absolute;
  }
  .switch__label {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }


/*-------------------------*/
/* darkmode */
/*-------------------------*/
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 90%, 10%);
      --fg: hsl(var(--hue), 90%, 90%);
    }
    .switch__input:focus-visible {
      box-shadow: 0 0 0 0.0625em hsl(var(--hue), 90%, 30%) inset, 0 0 0.125em 0.125em hsl(var(--hue), 90%, 60%);
    }
  }
  